<!-- include header -->
<% include("../layouts/_header.ejs") %>
<!-- include header -->
<h1>Admin Home</h1>


<a href="admin/logout">Logout</a>
<!-- include footer -->
<% include("../layouts/_footer.ejs") %>
<!-- include footer -->
