<!-- include header -->
<% include("../layouts/_header.ejs") %>
<!-- include header -->
<h1>User Login</h1>
<% if(typeof message!=="undefined"){ %>
<h3><%= message%></h3>
<% } %>
<form action="/forgot-password" method="post">
  <input
    type="password"
    name="password"
    placeholder="Enter password"
    required
  />
  <br /><br />
  <input
    type="password"
    name="cpassword"
    placeholder="Confirm password"
    required
  />
  <input type="hidden" name="userId" value="<%=userId%>" />
  <br /><br />
  <input type="submit" value="Reset Password" />
  <br /><br />
</form>

<!-- include footer -->
<% include("../layouts/_footer.ejs") %>
<!-- include footer -->