<!-- include header -->
<% include("../layouts/_header.ejs") %>
<!-- include header -->
<h1>User Login</h1>
<% if(typeof message!=="undefined"){ %>
<h3><%= message%></h3>
<% } %>
<form action="/login" method="post">
  <input type="email" name="email" placeholder="Enter email" required />
  <br /><br />
  <input
    type="password"
    name="password"
    placeholder="Enter password"
    required
  />
  <br /><br />
  <input type="submit" value="Login" />
  <br /><br />
</form>

<a href="/forgot">Forgot Password</a>
<br><br>
<a href="/verification">Verification</a>

<!-- include footer -->
<% include("../layouts/_footer.ejs") %>
<!-- include footer -->