<!-- include header -->
<% include("../layouts/_header.ejs") %>
<!-- include header -->
<h1>User Registration</h1>
<form action="" method="post" enctype="multipart/form-data">
  <input type="text" name="name" placeholder="Enter name" required />
  <br /><br />
  <input type="email" name="email" placeholder="Enter email" required />
  <br /><br />
  <input type="text" name="mobile" placeholder="Enter mobile" required />
  <br /><br />
  <input type="file" name="image" required />
  <br /><br />
  <input
    type="password"
    name="password"
    placeholder="Enter password"
    required
  />
  <br /><br />
  <input type="submit" value="Register" />
  <br /><br />
</form>

<% if (typeof message !=="undefined") { %>
<p style="color: green"><%=message %></p>
<% } %> 

<!-- include footer -->
<% include("../layouts/_footer.ejs") %>
<!-- include footer -->