<!-- include header -->
<% include("../layouts/_header.ejs") %>
<!-- include header -->
<h1>Forgot password</h1>
<% if(typeof message!=="undefined"){ %>
<h3><%= message%></h3>
<% } %>
<form action="/verification" method="post">
  <input type="email" name="email" placeholder="Enter email" required />
  <br /><br />
  <input type="submit" value="Send Verification Link" />
  <br /><br />
</form>

<!-- include footer -->
<% include("../layouts/_footer.ejs") %>
<!-- include footer -->